.row
  .col-md-3
  .col-md-7
    .well.blue_well
      %b 
        =title 
    = render partial: 'contact_info', locals: {f: f}
%br
%br
.row
  .col-md-5
  .col-md-2= f.button :submit, class: 'btn btn-success'
  = link_to "Cancel", user_contacts_path(user_id: @contact.user.id), {class: 'btn btn-warning'}

